<!-- copy code in html file -->
<!DOCTYPE html>
<html lang="en" ng-app="shoppingApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shopping List using AngularJS</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-controller="ShoppingListController">
  <h1>Shopping List</h1>
  <input type="text" ng-model="item" placeholder="Add item">
  <button ng-click="addItem()">Add</button>

  <ul>
    <li ng-repeat="item in items">
      {{item}} <button ng-click="removeItem($index)">Remove</button>
    </li>
  </ul>

  <script>
    angular.module('shoppingApp', [])
    .controller('ShoppingListController', function($scope) {
      $scope.items = ['Milk', 'Bread', 'Eggs'];
      $scope.addItem = function() {
        if ($scope.item) {
          $scope.items.push($scope.item);
          $scope.item = '';
        }
      };
      $scope.removeItem = function(index) {
        $scope.items.splice(index, 1);
      };
    });
  </script>
</body>
</html>
